*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    width: 100%;
}

.headerContainer{
    background-image: url(images/backgroud.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 3rem;
    align-items: center;
}

.headerLogo img{
    width: 100%;
}

nav ul{
    display: flex;
    gap: 2rem;
}

nav ul li{
    color: var(--Light-text, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 180% */
    letter-spacing: 0.2px;
}

.headbutton input{
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #EFEFEF;
    padding: 16px 32px; 
}

.headbutton button{
    border-radius: 35px;
    background: var(--Light-text, #FFF);
    padding: 16px 32px;
    color: var(--Primary, #EF2779);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: 0.2px;
    border: none;
}

.headbutton button:hover{
    color:#FFF;
    background: var(--Background-Gradient, linear-gradient(40deg, #EF2779 0.79%, #7834BE 79.29%));
}


::placeholder{
    color: var(--Background, #18171D);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.1px;
}

.hero{
    display: flex;
    align-items: center;
}


.heroText h1{
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 65.5px;
    letter-spacing: 0.2px;
    width: 80%;
    margin-bottom: 2rem;
}

.heroText p{
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 50%;
    margin-bottom: 4rem;
}

.heroText button{
    color: var(--Secondary, #38A3F1);
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    letter-spacing: 0.1px;
    border-radius: 35px;
    background: var(--Light-text, #FFF);
    padding: 5px 35px;
    border: none;
}

.heroText button:hover{
    color: #FFF;
    background: var(--Background-Gradient, linear-gradient(40deg, #EF2779 0.79%, #7834BE 79.29%));
}

.heroImage img{
    width: 100%;
}

.fingertips{
    text-align: center;
}

.fingertips h3{
    margin-bottom: 1rem;
    color: var(--text, #252B42);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    letter-spacing: 0.1px;
    margin-top: 5rem;
}

.fingertips h1{
    margin-bottom: 1.5rem;
    color: var(--text, #252B42);
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px; /* 123.913% */
    letter-spacing: 0.2px;
}

.fingertips p{
    margin-bottom: 4rem;
    color: var(--second-text, #374754);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px; /* 125% */
    letter-spacing: 0.2px;
    width: 20%;
    margin: auto;
}


.featuresFlex{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.featuresImage img{
    width: 100%;
}

.overallFeatures{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 6rem;
    
}

.featuresText h3{
    width: 80%;
    color: var(--text, #252B42);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 150% */
    letter-spacing: 0.1px;
}

.features p{
    width: 90%;
    color: var(--second-text, #374754);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: 0.2px;
}

.features{
    margin-left: 5rem;
}

.prototype{
    margin-top: 12rem;
    align-items: center;
    text-align: center;
}

.prototype h2{
    color: var(--text, #252B42);
    text-align: center;
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px; /* 123.913% */
    letter-spacing: 0.2px;
    width: 30%;
    margin: auto;
    margin-bottom: 2rem;
}

.prototype h4{
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.2px;
    margin-top: 2rem;
    width: 20%;
    margin: auto;
}

.prototype button{
    border-radius: 35px;
    background: var(--Secondary, #38A3F1);
    padding: 12px 39px;
    border: none;
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    letter-spacing: 0.1px;
    margin-top: 5rem;
}

.prototype button:hover{
    background: var(--Background-Gradient, linear-gradient(40deg, #EF2779 0.79%, #7834BE 79.29%));
}

.prototypeImage{
    margin-top: 8rem;
}

.prototypeImage img{
    width: 70%;
}

.subscribe{
    background: var(--Background-Gradient, linear-gradient(40deg, #EF2779 0.79%, #7834BE 79.29%));
    margin-top: 10rem;
    text-align: center;
    align-items: center;
}

.subscribe h3{
    color: var(--Light-text, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    letter-spacing: 0.1px;
    margin-top: 4rem;
}

.subscribe h2{
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px; /* 123.913% */
    letter-spacing: 0.2px;
    margin-top: .5rem;
}

.subscribe h4{
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    letter-spacing: 0.1px;
    margin-top: 4rem;
}

.subscribe p{
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: .5rem;
}

.subscribeButton input{
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #F4F4F4;
    padding: 16px 32px;
    width: 21%;
    margin-top: 1rem;
}

.subscribeButton button{
    border-radius: 35px;
    background: var(--Primary, #EF2779);
    padding: 16px 32px;
    width: 21%;
    border: none;
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: 0.2px;
    margin-top: .7rem;
    margin-bottom: 6rem;
}

.subscribeButton button:hover{
    background: var(--Background-Gradient, linear-gradient(40deg, #EF2779 0.79%, #7834BE 79.29%));
}

.partners{
    align-items: center;
    text-align: center;
}

.allPartners{
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 5rem;
}

.allPartners2{
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 5rem;
}

.partners h2{
    color: var(--text, #252B42);
    text-align: center;
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px; /* 123.913% */
    letter-spacing: 0.2px;
    margin-top: 5rem;
    text-align: center;
}

.partners p{
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.2px;
    width: 20%;
    margin: auto;
    margin-top: 2rem;
}

.part1 p{
    width: 64%;
    margin: auto;
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 1.5rem;
}
.part2 p{
    width: 64%;
    margin: auto;
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: 0.2px;
    margin-top: 1.5rem;
}

.part1 h6{
    color: var(--second-text, #374754);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
    letter-spacing: 0.1px;
    margin-bottom: 1.5rem;
}
.part2 h6{
    color: var(--second-text, #374754);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
    letter-spacing: 0.1px;
    margin-bottom: 1.5rem;
}

.partImage img{
    width: 35%;
}

.partners button{
    border-radius: 30px;
    background: var(--Secondary, #38A3F1);
    border: none;
    padding: 10px 39px;
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    letter-spacing: 0.1px;
    margin-top: 4rem;
}

.partners button:hover{
    background: var(--Background-Gradient, linear-gradient(40deg, #EF2779 0.79%, #7834BE 79.29%));
}

.testimonials{
    align-items: center;
    margin-top: 9rem;
    text-align: center;
}

.testimonials h2{
    color: var(--text, #252B42);
    text-align: center;
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px; /* 123.913% */
    letter-spacing: 0.2px;
    margin-bottom: 4rem;
}

.testLogo{
    text-align: center;
}

.testLogo img{
    width: 15%;
}

.testimonials h4{
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.2px;
    width: 43%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.testFlex{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 12%;
    margin: auto;
}

.testImage img{
    width: 100%;
}

.testText h5{
    color: var(--second-text, #374754);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
    letter-spacing: 0.1px;
}

.testText p{
    color: var(--text, #252B42);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 180% */
    letter-spacing: 0.2px;
}

.testBtn{
    text-align: center;
}

.testBtn button{
    border-radius: 35px;
    background: var(--Secondary, #38A3F1);
    padding: 16px 47px;
    margin-top: 4rem;
    border: none;
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    letter-spacing: 0.1px;
}

.testBtn button:hover{
    color: var(--Light-text, #FFF);
    background: var(--Background-Gradient, linear-gradient(40deg, #EF2779 0.79%, #7834BE 79.29%));
}

.pricing{
    text-align: center;
    align-items: center;
    margin-top: 10rem;
}

.pricing h2{
    color: var(--text, #252B42);
    text-align: center;
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px; /* 123.913% */
    letter-spacing: 0.2px;
}

.pricing h4{
    color: var(--second-text, #374754);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.2px;
    width: 20%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.allCards{
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    gap: 2rem;
}

.card1{
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: var(--light-background, #FFF);
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    padding: 40px;
    width: 100%;
}

.card1:hover{
border-radius: 10px;
border: 1px solid #DEDEDE;
background: var(--Background-Gradient, linear-gradient(40deg, #EF2779 0.79%, #7834BE 79.29%));
box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.card1 h3{
    color: var(--text, #252B42);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    letter-spacing: 0.1px;
    width: 100%;
    text-align: left;
}

.card1 h5{
    color: var(--second-text, #374754);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
    letter-spacing: 0px;
    width: 180px;
    text-align: left;
    margin-bottom: 2rem;
}

.card1 p{
   color: var(--text, #252B42);
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: 65.5px; /* 119.091% */
    letter-spacing: 0.2px;
    /* width: 100%; */
}

.highlight{
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
    letter-spacing: 0.1px;
    margin-left: -1rem;
}

.cardBtn button{
    border-radius: 35px;
    background: var(--Secondary, #38A3F1);
    padding: 10px 35px;
    border: none;
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: 0.2px;
}

.cardBtn :hover{
    background: var(--Light-text, #FFF);
    color: var(--Primary, #EF2779);
}

.contact{
    background: var(--Dark-background, #252B42);
    margin-top: 6rem;
}

.contactHead{
    text-align: center;
    margin-top: 4rem;
}

.contactHead h2{
    color: var(--Light-text, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px; /* 123.913% */
    letter-spacing: 0.2px;
}

.contactHead h4{
    color: var(--Light-text, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.2px;
    width: 20%;
    margin: auto;
    margin-top: 1rem;
}

.contactFlex{
    display: flex;
    gap: 3rem;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.contactCard{
    border-radius: 8px;
    border: 0.654px solid #DDD;
    background: #FFF;
    box-shadow: 0px 8.49823px 12.4205px 0px rgba(0, 0, 0, 0.07);
    padding: 26px 41px;
    margin-top: 2rem;
}

.contactCard input{
    margin: .5rem;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #F5F5F5;
    padding: 8px 70px 8px 10px;
    width: 100%;

}


#message{
    padding: 10px 70px 85.095px 10px;
    border-radius: 0px;
}

.contactBtn button{
    border-radius: 35px;
    background: var(--Primary, #EF2779);
    padding: 10px 30px;
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: 0.2px;
    border: none;
}

.allCL{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.cAddress h5{
    color: var(--Light-text, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
    letter-spacing: 0.1px;
}

.cLogo img{
    width: 100%;
}

.socialLogo img{
    width: 50%;
}

.allFooter{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.fAddress h5{
    color: var(--second-text, #374754);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
    letter-spacing: 0.1px;
}

.footerPage h3{
    color: var(--text, #252B42);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}

.footerPage li{
    color: var(--text, #252B42);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 180% */
    letter-spacing: 0.2px;
    margin-bottom: 1rem;
}

.footerImage img{
    width: 100%;
}

/* Media Query */

@media screen and (max-width: 1024px){

    .heroText p{
        width: 70%;
    }

    .fingertips p{
        width: 30%;
    }

    .overallFeatures{
        display: flex;
        width: 90%;
        margin: auto;
        margin-top: 6rem;   
    }
    
    .featuresText h3{
        width: 100%;
    }
    
    .features p{
        width: 100%;
    }

    .prototype h4{
        width: 30%;
    }

    .partners p{
        width: 30%;
    }

    .part1 p{
        width: 90%;
    }
    
    .part2 p{
        width: 90%;
    }

    .testFlex{
        width: 20%;
    }

    .allCards{
        width: 80%;
        margin: auto;
    }
    
    .allFooter{
        width: 90%;
    }

    .contactHead h4{
        width: 30%;
    }
  
    .contactFlex{
        width: 65%;
    }
}

@media screen and (max-width:768px) {
    nav,.headbutton input,.headbutton button{
        display: none;
    }

    .heroText h1{
        font-size: 38px;
        margin-bottom: 1rem;
        line-height: 50px;
    }

    .hero{
        width: 100%;
        margin-top: -2rem;
    }

    .heroText p{
        margin-bottom: 1.5rem;
        width: 100%;
        font-size: 15px;
    }

    .fingertips p{
        width: 40%;
    }

    .overallFeatures{
        display: flex;
        width: 100%;
        margin: auto;
        margin-top: 6rem;    
    }

    .featuresText h3{
        width: 100%;
        font-size: 18px;
    }
    
    .features p{
        width: 100%;
        font-size: 17px;
        letter-spacing: 0;
    }

    .features{
        margin-left: 3rem;
    }

    .prototype h4{
        width: 40%;
    }

    .prototype h2{
        width: 40%;
    }

    .subscribeButton input{
        width: 35%;
    }
    
    .subscribeButton button{
        width: 35%;
    }

    .partners p{
        width: 40%;
    }

    .allPartners{
        width: 80%;
    }

    .allPartners2{
        width: 80%;
    }

    .part1 p{
        width: 100%;
    }
    
    .part2 p{
        width: 90%;
    }

    .testimonials h4{
        width: 55%;
    }

    .testBtn button{
        padding: 12px 35px;
    }

    .pricing h4{
        width: 40%;
    }

    .allCards{
        width: 90%;
    }

    .card1{
        padding: 25px;
    }

    .contactHead h4{
        width: 40%;
    }
  
    .contactFlex{
        width: 85%;
    }

    .allFooter{
        width: 90%;
    }

    .footerPage h3{
        color: var(--text, #252B42);
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 33px; /* 150% */
        letter-spacing: 0.1px;
        margin-bottom: 1rem;
    }
    
    .footerPage li{
        color: var(--text, #252B42);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 180% */
        letter-spacing: 0.2px;
        margin-bottom: 1rem;
    }
    
    .footerImage img{
        width: 80%;
        margin-left: 2rem;
    }

    .fAddress h5{
        width: 290px;
    }

    .footerPage li{
        width: 150px;
    }   
}


@media screen and (max-width:426px){
    .hero{
        flex-direction: column-reverse;
        margin-top: 2rem;
    }

    .heroText{
        text-align: center;
    }

    .heroText p{
        width: 65%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .heroText h1{
        width: 100%;
    }

    .heroText button :hover{
        background: var(--Secondary, #38A3F1);
    }

    .heroImage img{
        margin-left: 2rem;
    }

    .fingertips p{
        width: 65%;
    }

    .overallFeatures{
        flex-direction: column;
    }

    .features{
        width: 50%;
        margin-bottom: 3rem;
        margin-left: 7rem;
    }

    .prototype h2{
        width: 80%;
    }
    
    .prototype h4{
        width: 65%;
    }

    .subscribe h2{
        width: 100%;
        font-size: 35px;
    }

    .subscribeButton input{
        width: 70%;
    }

    .subscribeButton button{
        width: 70%;
    }

    .partners  p{
        width: 65%;
    }

    .allPartners, .allPartners2{
        flex-direction: column;
    }

    .part1, .part2{
        margin-bottom: 2rem;
    }

    .testLogo img{
        width: 40%;
    }

    .testimonials h4{
        width: 70%;
    }

    .testFlex{
        width: 40% ;
    }

    .pricing h4{
        width: 65%;
    }

    .allCards{
        flex-direction: column;
        width: 60%;
    }

    .contactHead h4{
        width: 65%;
    }

    .contactFlex{
        flex-direction: column;
    }

    .socialLogo img{
        width: 60%;
    }

    .allFooter{
        flex-direction: column;
    }

    .footerPage{
        text-align: center;
        margin-bottom: 2rem;
    }

    .footerImage{
        margin-bottom: 2rem;
    }
    }


    @media screen and (max-width:376px) {
    .heroText p{
        width: 75%;
    }

    .heroText h1{
        font-size: 32px;
    }

    .fingertips p{
        width: 75%;
    }

    .features{
        width: 55%;
        margin-left: 6rem;
    }

    .prototype h4{
        width: 75%;
    }

    .subscribe h2{
        width: 100%;
        font-size: 30px;
    }

    .partners  p{
        width: 75%;
    }

    .pricing h4{
        width: 75%;
    }

    .testimonials h4{
        width: 80%;
    }

    .contactHead h4{
        width: 75%;
    } 
    
    .footerSocials{
        width: 70%;
    }
    }


    @media screen and (max-width:321px) {

        .heroText p{
            width: 90%;
        }
    
        .heroText h1{
            font-size: 25px;
        }

        .fingertips p{
            width: 90%;
        }
    
        .features{
            width: 65%;
            margin-left: 4rem;
        }
    
        .prototype h4{
            width: 90%;
        }

        .prototype h2{
            width: 90%;
            font-size: 40px;
        }
    
        .subscribe h2{
            width: 100%;
            font-size: 26px;
        }
    
        .subscribeButton input, .subscribeButton button{
            width: 80%;
        }

        .partners  p{
            width: 90%;
        }
    
        
        .pricing h4{
            width: 90%;
        }

        .testimonials h4{
            width: 95%;
        }
    
        .testFlex{
            width: 50% ;
        }
    
        .contactHead h4{
            width: 90%;
        } 

        .allCards{
            width: 70%;
        }

        .footerSocials{
            width: 80%;
        }
        
    }

    @media screen and (max-width:280px){
        .heroText p{
            width: 95%;
            font-size: 14px;
        }
    
        .heroText h1{
            font-size: 23px;
        }

        .fingertips p{
            width: 90%;
            font-size: 14px;
        }
    
        .features{
            width: 78%;
            margin-left: 2rem;
        }
    
        .prototype h4{
            width: 95%;
            font-size: 14px;
        }

        .prototype h2{
            width: 90%;
            font-size: 40px;
        }
    
        .subscribe h2{
            width: 100%;
            font-size: 24px;
        }
    
        .subscribeButton input, .subscribeButton button{
            width: 90%;
        }

        .partners  p{
            width: 95%;
        }
    
        
        .pricing h4{
            width: 95%;
            font-size: 14px;
        }

        .testimonials h4{
            width: 95%;
            font-size: 14px;
        }
    
        .testFlex{
            width: 60% ;
        }
    
        .contactHead h4{
            width: 90%;
        } 

        .allCards{
            width: 80%;
        }

        .contactHead h4{
            width: 95%;
            font-size: 14px;
        }

        .footerSocials{
            width: 100%;
        }
    }















